<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.by.cloud.mapper.PictureMapper">

    <resultMap id="BaseResultMap" type="com.by.cloud.model.entity.Picture">
        <id property="picId" column="pic_id" jdbcType="BIGINT"/>
        <result property="rawUrl" column="raw_url" jdbcType="VARCHAR"/>
        <result property="picUrl" column="pic_url" jdbcType="VARCHAR"/>
        <result property="thumbnailUrl" column="thumbnail_url" jdbcType="VARCHAR"/>
        <result property="picName" column="pic_name" jdbcType="VARCHAR"/>
        <result property="introduction" column="introduction" jdbcType="VARCHAR"/>
        <result property="tags" column="tags" jdbcType="VARCHAR"/>
        <result property="picSize" column="pic_size" jdbcType="BIGINT"/>
        <result property="picWidth" column="pic_width" jdbcType="INTEGER"/>
        <result property="picHeight" column="pic_height" jdbcType="INTEGER"/>
        <result property="picScale" column="pic_scale" jdbcType="DOUBLE"/>
        <result property="picFormat" column="pic_format" jdbcType="VARCHAR"/>
        <result property="picColor" column="pic_color" jdbcType="VARCHAR"/>
        <result property="categoryId" column="category_id" jdbcType="BIGINT"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="spaceId" column="space_id" jdbcType="BIGINT"/>
        <result property="reviewStatus" column="review_status" jdbcType="INTEGER"/>
        <result property="reviewMessage" column="review_message" jdbcType="VARCHAR"/>
        <result property="reviewerId" column="reviewer_id" jdbcType="BIGINT"/>
        <result property="reviewTime" column="review_time" jdbcType="TIMESTAMP"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="editTime" column="edit_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        pic_id,raw_url,pic_url,thumbnail_url,pic_name,
        introduction,tags,
        pic_size,pic_width,pic_height,
        pic_scale,pic_format,pic_color,category_id,user_id,space_id,
        review_status,review_message,reviewer_id,
        review_time,create_time,edit_time,
        update_time,is_delete
    </sql>

    <select id="queryPictureByPage" resultType="com.by.cloud.model.entity.Picture">
        select distinct p.*
        from picture p
        left join picture_tag pt
        on p.pic_id = pt.picture_id
        left join tag t
        on pt.tag_id = t.id
        left join category c
        on p.category_id = c.id
        <where>
            p.is_delete = 0
            <if test="dto.picName != null and dto.picName != ''">
                p.pic_name like concat('%',#{dto.picName},'%')
            </if>
            <if test="dto.introduction != null and dto.introduction != ''">
                and p.introduction like concat('%',#{dto.introduction},'%')
            </if>
            <if test="dto.category != null and dto.category != ''">
                and c.name = #{dto.category}
            </if>
            <if test="dto.reviewStatus != null">
                and p.review_status = #{dto.reviewStatus}
            </if>
            <if test="dto.reviewMessage != null and dto.reviewMessage != ''">
                and p.review_message like concat('%',#{dto.reviewMessage},'%')
            </if>
            <if test="dto.spaceId != null">
                and p.space_id = #{dto.spaceId}
            </if>
            <if test="dto.nullSpaceId == true">
                and p.space_id is null
            </if>
            <if test="dto.picFormat != null and dto.picFormat != ''">
                and p.pic_format like concat('%',#{dto.picFormat},'%')
            </if>
            <if test="dto.startEditTime != null and dto.endEditTime != null">
                and p.edit_time between #{dto.startEditTime} and #{dto.endEditTime}
            </if>
            <!-- 标签查询 -->
            <if test="dto.tagList != null and dto.tagList.size() > 0">
                <foreach collection="dto.tagList" item="tag" separator=" or " open="and (" close=")">
                    t.name like concat ('%',#{tag},'%')
                </foreach>
            </if>
            <!-- 关键词查询 -->
            <if test="dto.searchText != null and dto.searchText!=''">
                and (
                p.pic_name like concat('%',#{dto.searchText},'%')
                or p.introduction like concat('%',#{dto.searchText},'%')
                )
            </if>
        </where>
        order by p.create_time desc
    </select>

    <select id="getCategoryAnalyze" resultType="com.by.cloud.model.vo.space.analyze.SpaceCategoryAnalyzeVo">
        select c.name as category,
        count(*) as count,
        sum(p.pic_size) as totalSize
        from picture p
        left join category c
        on p.category_id = c.id
        <where>
            p.is_delete = 0 and c.is_delete = 0
            <if test="dto.queryAll == false and dto.queryPublic == true and dto.spaceId == null">
                and p.space_id is null
            </if>
            <if test="dto.queryAll == false and dto.queryPublic == false and dto.spaceId != null">
                and p.space_id = #{dto.spaceId}
            </if>
        </where>
        group by c.name
    </select>

    <select id="getTagAnalyze" resultType="com.by.cloud.model.vo.space.analyze.SpaceTagAnalyzeVo">
        select t.name as tag,
        count(*) as count
        from picture p
        left join picture_tag pt
        on p.pic_id = pt.picture_id
        left join tag t
        on pt.tag_id = t.id
        <where>
            p.is_delete = 0 and t.is_delete = 0
            <if test="dto.queryAll == false and dto.queryPublic == true and dto.spaceId == null">
                and p.space_id is null
            </if>
            <if test="dto.queryAll == false and dto.queryPublic == false and dto.spaceId != null">
                and p.space_id = #{dto.spaceId}
            </if>
        </where>
        group by t.name
        order by count desc
    </select>
</mapper>
